.question-list {
    margin: 0 auto;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.question-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-height: 100vh;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.question-card ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.question-card li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    list-style: none;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.question-number {
    background-color: #0288d1;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    width: 40px;
    text-align: center;
    margin-right: 15px;
    flex-shrink: 0;
}

.question-title {
    flex-grow: 1;
    padding: 5px 0;
    color: #333;
    font-size: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    margin-right: 15px;
}

.question-link-button {
    background-color: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    flex-shrink: 0;
}

#quiz-container {
    background-color: aliceblue;
}

.question {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .question-title {
        white-space: normal;
        overflow: visible;
    }
}