#class-list {
    max-height: 800px;
    overflow-y: auto;
    display: block;

    & table {
        thead {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 1;
        }
    }
}

table .keyword {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
    table .keyword {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}